body {
     background-color: #002020;
}

.carousel-inner {
        width: 70%;
        height: 50%;
        margin: 15%;
        margin-top: 5%;
        border: solid medium black;
}
    
.carousel-inner img {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
}   